.hashtag-gallery {
  margin: 60px auto;
  text-align: center;
  max-width: 900px;
}

.hashtag-gallery.hidden {
  display: none;
}

.hashtag-gallery h3 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.gallery-embed {
  margin-top: 30px;
}
